* {
	font-family: Arial;
}
li {
	display: inline-block;
	font-size: 11px;
	margin-left: 5px;
}
ul {
	padding: 20px 0px 0px 570px; 
}
.grupal {
	background: url('../img/grupal.jpg')no-repeat;
    height: 657px;
    background-size: 100% 140%;
    width: 100%;
}
.laboratoria {
	width: 257px;
    height: 40px;
    margin-left: 317px;
    margin-top: 20px;
}
.sumate {
	width: 134px;
    height: 52px;
    background-color: #FCB739;
    padding-top: 15px;
    margin-left: 135px;
    font-size: 11px;
    text-align: center;
    margin-top: -31px;
}
.foto {
    width: 250px;
    height: 164px
}
.lenguaje {
	font-size: 14px;
}
.img {
	border-bottom: 1px solid black;
	width: 200px;
	margin-right: 70px;
	display: inline-block;
}
.tres {
    margin:50px 0px; 
    text-align: center;
}
h1 {
	text-align: left;
}
span {
	color: #00AFF0;
}
.text {
	font-size: 10px;
	display:inline-block;
	color: white;
}
.black {
	background-color: #323230;
	width: 100%;
	padding: 20px 0px;
}
.fa-skype{
	font-size: 20px;
	margin-left: 5px;
	color: #00AFF0;
}